@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    --theme-color: #E6D2A8;
    --gold-color:#D8C08D;
    --pink-color: #F4CCCC;
    --navy-color: #0E0B34;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    font-family: 'Inria Serif', serif !important;
}

.navbar-brand {
    color: var(--theme-color) !important;
    font-size: 2rem !important;
    padding: 0 2rem;
}

.nav-item {
    color: black !important;
    padding: 0 2rem;
    font-weight: bold;
    font-size: 16px;
}

.input-icons img {
    position: absolute;
    padding: 10px;
    width: 35px;
    min-width: 16px;
}

.input-icons {
    height: 30px;
    align-items: center;
    width: 200px !important;
}

