@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    --theme-color: #E6D2A8;
    --gold-color:#D8C08D;
    --pink-color: #F4CCCC;
    --navy-color: #0E0B34;
    --grey-color: #cccc;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    font-family: 'Inria Serif', serif !important;
}

.navbar-brand {
    color: var(--theme-color) !important;
    font-size: 2rem !important;
    padding: 0 2rem;
}

.nav-item {
    color: black !important;
    padding: 0 1.5rem;
    font-weight: bold;
    font-size: 16px;
}

.navbar-nav {
    justify-content: center;
}

#input-icons img {
    position: absolute;
    padding: 10px;
    width: 35px;
    min-width: 16px;
}

#input-icons {
    height: 30px;
    align-items: center;
    width: 200px !important;
}

#input-icons input {
    background-color: var(--grey-color);
    border-radius: 25px;
}

#input-icons input::after {
    img {
        display: none;
    }
}

.shopping-cart-icons {
    width: 20px;
    height: 20px;
    margin: auto 15px;
}

.right-corner {
    padding: 0 2rem;
}

.login-btn {
    background-color: var(--theme-color) !important;
    color: black !important;
    width: 100px;
    border: none !important;
    border-radius: 25px !important;
}

.fit-height {
    height: 100%;
    width: 100%;
    padding-top: 1.2rem;
}